---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="https://user-images.githubusercontent.com/58712884/173713399-6a892196-1c13-4a44-b794-7fddd12bd431.jpg" alt="profile image" width="330">
      <figcaption>
        photo by
        <a href="https://www.lancers.jp/profile/Photo_Wing-Lights" target="_blank" rel="noopener">Photo Wing-Lights</a>
      </figcaption>
    </figure>
    <p><a href="https://twitter.com/isanasan_" target="_blank">twitter</a></p>
    <p><a href="https://github.com/isanasan" target="_blank">GitHub</a></p>
    <p><a href="https://speakerdeck.com/isanasan" target="_blank">speakerdeck</a></p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
