<div>
  <img src="https://user-images.githubusercontent.com/58712884/173713399-6a892196-1c13-4a44-b794-7fddd12bd431.jpg" alt="Headshot of isana">
  <p>
    You can follow me on <a href="https://www.twitter.com/isanasan_" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/isanasan" target="_blank">GitHub</a>,
    or read more about me on <a href="https://isana.dev" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
